/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-BG-Primary);
  border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-BG-Secondary);
  border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.child:nth-child(odd){
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
.child:nth-child(even){
  clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
}
